#outer {
  background-image: linear-gradient(
    -20deg,
    #38464e 0%,
    #000000 50%,
    #38464e 100%
  ) !important;
}



td{
  text-align: center !important;
  padding: 10px 5px;;
}

tr {
  border-bottom: 0;

}

.nightMode a {
  color: #fff;
}